.link {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 80%;
}

.tags {
    text-decoration: none;
    height: 76px;
    width: 100%;
    border-radius: 8px;
    background-color: #EAECF0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 8px;
    Padding: 24px, 32px, 24px, 32px;
    border: 1px solid #EAECF0;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.social {
    display: flex;
    margin-bottom: 64px;
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}